
lab6_371/db/DE1_SoC.quiproj.8740.rdr.flock
*.flock
*.db_info
*.wlf
*.wlf
lab6_371/transcript
lab6_371/db/DE1_SoC.map.bpm
lab6_371/db/DE1_SoC.map.cdb
lab6_371/db/DE1_SoC.map.hdb
lab6_371/db/DE1_SoC.map.logdb
lab6_371/vsim.wlf
lab6_371/transcript
lab6_371/DE1_SoC.qws
lab6_371/transcript
*.hdb
*.cdb
*.tmw_info
*.cdb
