
vsim.wlf
transcript
db/lab5.(0).cnf.cdb
db/lab5.(0).cnf.hdb
db/lab5.(1).cnf.cdb
db/lab5.(1).cnf.hdb
db/lab5.(2).cnf.cdb
db/lab5.(2).cnf.hdb
db/lab5.cmp.rdb
db/lab5.db_info
db/lab5.hier_info
db/lab5.hif
db/lab5.lpc.html
db/lab5.lpc.rdb
db/lab5.lpc.txt
db/lab5.map.bpm
db/lab5.map.cdb
db/lab5.map.hdb
db/lab5.map.kpt
db/lab5.map.qmsg
db/lab5.map.rdb
db/lab5.map_bb.cdb
db/lab5.map_bb.hdb
db/lab5.pre_map.hdb
db/lab5.quiproj.15992.rdr.flock
db/lab5.root_partition.map.reg_db.cdb
db/lab5.rtlv.hdb
db/lab5.rtlv_sg.cdb
db/lab5.rtlv_sg_swap.cdb
db/lab5.tmw_info
db/lab5_partition_pins.json
db/prev_cmp_lab5.qmsg
incremental_db/compiled_partitions/lab5.root_partition.map.cdb
incremental_db/compiled_partitions/lab5.root_partition.map.dpi
incremental_db/compiled_partitions/lab5.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/lab5.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/lab5.root_partition.map.hdb
incremental_db/compiled_partitions/lab5.root_partition.map.kpt
output_files/lab5.done
output_files/lab5.flow.rpt
output_files/lab5.map.rpt
output_files/lab5.map.smsg
output_files/lab5.map.summary
*.qdb
*.qpg
*.qdb
*.qtl
*.qdb
